<header class="[ intro ] [ pad-top-300 pad-bottom-300 ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <p class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-300 md:text-300 leading-tight ] [ p-name ]"> <a href="/">
        <span class="visually-hidden">{{ 'Back to homepage ' if page.url != '/' else 'Homepage ' }}</span>{{ site.name }}</a>: <strong>{{ introHeading }}</strong>  
    {% if introSummary %}
       {{ introSummary | safe }}
    {% endif %}
  </p>
  </div>
</header>
