{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      
      <table style="padding:3px;" width="100%" border=1  class="[ post-list__items ] [ sf-flow ]" reversed><th colspan="2"><h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">{{ postListHeading }}</h2></th>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <tr class="post-list__item">
              <td class="font-base   weight-mid" style="padding:10px;">
                <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a></td>
                <td style="padding:10px;">
                 <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </td>


            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </section>
{% endif %}
